/* TableGrid */
.tableGrid > table {
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  flex: none !important;
  width: fit-content;
}

.tableGrid > table > tbody > tr:hover > td {
  background-color: rgba(0, 0, 0, 0.2);
}

.tableGrid > table > tbody > tr {
  border-bottom: 1px solid #24282A;
  height: 21px;
}

.tableGrid > table > tbody > tr > td,
.tableGrid > table > thead > tr > th {
  padding: 4px;
}

.tableGrid > table > td > span {
  padding: 3px;
}

.tableGrid > table > thead > tr > th {
  font-size: 14px;
  padding: 2px 3px;
}

.tableGrid .gridFixed div {
  background-color: #24282A;
  border: 1px solid #000000;
  font-size: 14px;
  padding: 2px 3px;
}

.tableGrid .gridSource {
  visibility: collapse;
}

.tableGrid .gridFixed {
  display: flex;
  position: sticky;
  top: 0;
}

.tableGrid .gridFixed div {
  display: inline-block;
  border-left: 0;
  border-top: 0;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
}

.tableGrid .selChar {
  padding: 0;
  padding-left: 4px;
}
/* End of TableGrid */

/* TableEdit */
.tableEdit {
  background-color: #33373A;
  border: 1px solid black;
  padding: 5px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.tableEdit > form > table {
  width: 100%;
  font-weight: bold;
  background-color: #24282A;
  border: 1px solid black;
  border-radius: 2px;
}

.tableEdit > form > table > tr > td:first-child {
  border-bottom: 1px solid #33373A;
  white-space: nowrap;
}

.tableEdit > form > table > tr:last-child td:first-child {
  border-bottom: none;
}

.tableEdit > form > table > tr {
  height: 32px;
}

.tableEdit > form > table > tr > td {
  padding-left: 4px;
}

.tableEdit > form > div {
  text-align: center;
  background-color: #24282A;
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.tableEdit > form > div > button {
  background-color: #2A4151;
  border: 1px solid black;
  border-radius: 2px;
  margin: 3px 5px;
  width: 80px;
  color: #CBD0D0;
  padding: 3px;
  font-size: 18px;
  font-weight: bold;
}

input {
  background-color: #33373A;
  color: #CBD0D0;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
  font-family: sans-serif;
  height: 22px;
  width: 200px;
  padding-left: 4px;
}
/* End of TableEdit */

/* TableLookUp */
.tableLookUp {
  font-size: 14px;
  width: 208px;
}

.tableLookUp > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 2px;
  min-height: 24px;
  background-color: #33373A;
  padding: 0 2px;
}

.tableLookUp .selectedRecs {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  padding: 2px 0;
}

.tableLookUp .selectedRecs span {
  margin: 1px;
  padding: 2px;
}

.tableLookUp .button {
  background-color: #24282A;
  min-width: 18px;
  height: 18px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableLookUp .tableGrid {
  position: absolute;
  z-index: 20;
  max-height: 200px;
  height: auto;
  width: 206px;
  border: 1px solid black;
  border-top: none;
  background-color: #33373A;
}
/* End of TableLookUp */

/* InfoCursor */
.infoCursor {
  height: 20px;
  position: absolute;
  left: 0;
}

.infoCursor polygon {
  fill: rgba(0, 0, 0, 0.5);
  stroke: white;
  stroke-width: 1;
}
/* End of InfoCursor */
